################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MatrixTools.vcxproj.user
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/stdafx.obj
/Debug/MatrixTools.tlog/MatrixTools.lastbuildstate
/Debug/MatrixTools.tlog/link.write.1.tlog
/Debug/MatrixTools.tlog/link.read.1.tlog
/Debug/MatrixTools.tlog/link.command.1.tlog
/Debug/MatrixTools.tlog/CL.write.1.tlog
/Debug/MatrixTools.tlog/CL.read.1.tlog
/Debug/MatrixTools.tlog/CL.command.1.tlog
/Debug/MatrixTools.obj
/Debug/MatrixTools.log
/Debug/MatrixTools.Build.CppClean.log
/Debug/MatrixTools.tlog
/Debug/MatrixTools.Build.CppClean.log
/Debug/MatrixTools.Build.CppClean.log
*.log
/Debug/MatrixTools.tlog/CL.command.1.tlog
/Debug/MatrixTools.tlog/CL.read.1.tlog
